<div class="card lg:card-side bg-base-100 shadow-xl">
  <figure>
    <img
      src="{{ product?.image }}"
      class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
      alt="{{ product?.title }}"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{{ product?.title }}</h2>
    <hr />
    <p>Category: {{ product?.category }}$</p>
    <p>Price: {{ product?.price }}$</p>
    <div class="card-actions justify-end" (click)="productDetails()">
      <button [routerLink]="['/products', product?.id]" class="btn btn-primary">
        Buy
      </button>
    </div>
  </div>
</div>
